In [21]:
%load_ext autoreload
%autoreload 2

import sys
import os
import inspect
import getpass
import json

import pandas as pd
import matplotlib.pyplot as plt


project_path = os.path.abspath( os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe()))) + "/../" )
sys.path.insert(0, project_path)
print(project_path)

from database_storage.helper import *

from database_storage.database.database import *
from database_storage.main import *

from database_storage.objects.kpi import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
/Users/sam11/nestor

In [22]:
def userinput(dict, node):
    
    if node in dict.keys():
        print(node)

        for properties in dict[node]: print("\t" + properties)
        property = input('Which property for the node? ' + node +'\n\t')

        operation = input('Which operation for the property "' + properties + '" ?\n\t')

        value = input('Which value for the property "' + properties + '" ?\n\t')

        return property , operation, value
    else:
        print(node, ' does not exists in your database')
        return None, None, None

# Database

In [23]:
user = "neo4j"
password="neo4j"
bolt = "bolt://maintain.el.nist.gov:7687"

In [24]:
databaseSchema_file = os.path.join(project_path ,'database_storage','database', 'DatabaseSchema.yaml')
databaseSchema_dict = openYAMLFile(databaseSchema_file)
database = DatabaseNeo4J(bolt, user, password, databaseSchema_dict)

yaml file open

In [25]:
dict = database.getAllNode()

------

# Create the objects

## Issue

In [26]:
prop, oper, val =  userinput(dict, "issue")
issue = OperandIssue(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(issue)

issue
	date_maintenanceworkorder_completion
	date_maintenanceworkorder_start
	description_of_solution
	description_of_problem
	part_in_process
	id
	machine_down
Which property for the node? issue
	id
Which operation for the property "machine_down" ?
	=
Which value for the property "machine_down" ?
	1
MATCH issue.id = "1" RETURN None

## Human

In [ ]:
prop, oper, val =  userinput(dict, "human")
human = OperandHuman(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(human)

## Technician

In [27]:
prop, oper, val =  userinput(dict, "technician")
technician =OperandTechnician(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(technician)

technician
	name
Which property for the node? technician
	name
Which operation for the property "name" ?
	-
Which value for the property "name" ?
	steve
MATCH technician.name - "steve" RETURN None

## Operator

In [ ]:
prop, oper, val =  userinput(dict, "operator")
operator = OperandOperator(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(operator)

## Machine

In [40]:
prop, oper, val =  userinput(dict, "machine")
machine = OperandMachine(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(machine)

machine
	name
Which property for the node? machine
	name

KeyboardInterrupt:

## Machine Type

In [ ]:
prop, oper, val =  userinput(dict, "type of machine")
machinetype = OperandMachine(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(machinetype)

## Tags

In [ ]:
prop, oper, val =  userinput(dict, "all tags")
tag = OperandTag(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(tag)

## Tags - OneGram

In [ ]:
prop, oper, val =  userinput(dict, "tags one_gram")
one_gram = OperandTagOnegram(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(one_gram)

## Tags - NGram

In [ ]:
prop, oper, val =  userinput(dict, "tags n_gram")
n_gram = OperandTagNgram(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(n_gram)

## Tags - Other

In [ ]:
prop, oper, val =  userinput(dict, "tags other")
other = OperandTechnician(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(other)

## Tags - OneGram - Problem

In [ ]:
prop, oper, val =  userinput(dict, "tags problem")
problem = OperandTagProblem(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(problem)

## Tags - OneGram - Solution

In [ ]:
prop, oper, val =  userinput(dict, "tags solution")
solution = OperandTagSolution(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(solution)

## Tags - Other - NA

In [ ]:
prop, oper, val =  userinput(dict, "tags na")
na = OperandTagNa(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(na)

## Tags - Other - StopWord

In [ ]:
prop, oper, val =  userinput(dict, "tags stop_word")
stop_word = OperandTagStopWord(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(stop_word)

## Tags - NGram - ProblemItem

In [ ]:
prop, oper, val =  userinput(dict, "tags problem_item")
problem_item = OperandTagProblemItem(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(problem_item)

## Tags - NGram - SolutionItem

In [ ]:
prop, oper, val =  userinput(dict, "tags solution_item")
solution_item = OperandTagSolutionItem(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(solution_item)

## Tags - OneGram - Item

In [ ]:
prop, oper, val =  userinput(dict, "tags item")
item = OperandTagItem(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(item)

## Tags - OneGram - Item as problem

In [ ]:
prop, oper, val =  userinput(dict, "tag item as problem")
item_problem = OperandTagItemAsProblem(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(item_problem)

## Tags - OneGram - Item as solution

In [ ]:
prop, oper, val =  userinput(dict, "tag item as solution")
item_solution = OperandTagItemAsSolution(property = prop, operator =oper, value=val, databaseInfo = database.schema)
print(item_solution)

------

# RETURN

In [29]:
### Tag Problem
res1 = OperandTagProblem(result = "keyword", databaseInfo = database.schema)
res2 = OperandTagItem(result = "keyword", databaseInfo = database.schema)

# KPI

In [38]:
query = -technician - -machine + res1 + res2

In [46]:
print(query)

MATCH technician.name - "steve" RETURN None
-
MATCH machine.name = "h1" RETURN None
+
MATCH tagproblem.None None None RETURN keyword
+
MATCH tagitem.None None None RETURN keyword

In [32]:
resultToObservationDataframe(database.runQuery(query.cypher_filterQuery())[1])

8it [00:00, 14652.59it/s]

  tagproblem.keyword tagitem.keyword
0              loose     wire loader
1              loose            wire
2              loose          loader
3              loose          sensor
4               leak     accumulator
5             broken   pendant clamp
6             broken         pendant
7             broken           clamp

In [39]:
print(query.cypher_filterQuery())

MATCH (issue:ISSUE)-[:CONTAINS]->(tagitem:TAG:ONE_GRAM:ITEM),(issue:ISSUE)-[:COVERED]->(machine:MACHINE),(issue:ISSUE)-[:CONTAINS]->(tagproblem:TAG:ONE_GRAM:PROBLEM),(issue:ISSUE)-[:SOLVE_BY]->(technician:HUMAN:TECHNICIAN)
WHERE  NOT technician.name CONTAINS "steve" OR  NOT machine.name = "h1"
RETURN tagproblem.keyword,tagitem.keyword

------

# KPI from "Developing meintenance key performance indocators from maintenance work order data"

In [41]:
itemAsProblem = OperandTagItemAsProblem(result = "keyword", databaseInfo = database.schema)
machine = OperandMachine(result = "name", databaseInfo = database.schema)
machinetype = OperandMachine(result = "type", databaseInfo = database.schema)
technician = OperandTechnician(result = "name", databaseInfo = database.schema)
problemitem = OperandTagProblemItem(result = "keyword", databaseInfo = database.schema)
problem = OperandTagProblem(result = "keyword", databaseInfo = database.schema)

issue_dateMWOstart = OperandIssue(result = "date_maintenanceworkorder_start", databaseInfo = database.schema)
issue_dateMWOend = OperandIssue(result = "date_maintenanceworkorder_completion", databaseInfo = database.schema)

### 2.1.1 Common Problem Items

In [44]:
kpi = itemAsProblem
df = resultToObservationDataframe(database.runQuery(kpi.cypher_filterQuery())[1])
df.head()

1904it [00:00, 832564.10it/s]

  tagitemasproblem.keyword
0                  station
1                  station
2                  station
3                  station
4                  station

### 2.1.2 Common Problem Items per Time Between Failure

In [45]:
kpi = itemAsProblem + issue_dateMWOstart + issue_dateMWOend
df = resultToObservationDataframe(database.runQuery(kpi.cypher_filterQuery())[1])
df.head()

1904it [00:00, 549694.03it/s]

,tagitemasproblem.keyword,issue.date_maintenanceworkorder_start,issue.date_maintenanceworkorder_completion
0,station,2016-02-01T00:00:00,2016-02-01T00:00:00
1,station,2015-06-30T00:00:00,2015-07-02T00:00:00
2,station,2015-10-16T00:00:00,2015-10-16T00:00:00
3,station,2016-09-10T00:00:00,2016-09-10T00:00:00
4,station,2016-04-25T00:00:00,2016-04-25T00:00:00

### 2.1.3 Common Problem Items by Machine Type

In [9]:
kpi = itemAsProblem + machinetype
df = resultToObservationDataframe(database.runQuery(kpi.cypher_filterQuery())[1])
df.head()

0it [00:00, ?it/s]

Empty DataFrame
Columns: [tagitemasproblem.keyword, machinetype.type]
Index: []

### 2.1.4 Common Problem Items & Action per Time to Repair

In [10]:
kpi = problemitem + issue_dateMWOstart + issue_dateMWOend
df = resultToObservationDataframe(database.runQuery(kpi.cypher_filterQuery())[1])
df.head()

2089it [00:00, 547447.74it/s]

,tagproblemitem.keyword,issue.date_maintenanceworkorder_start,issue.date_maintenanceworkorder_completion
0,conveyor jam,2016-10-05T06:00:00,2016-10-05T09:15:00
1,conveyor jam,2016-06-03T11:50:00,None
2,conveyor jam,2016-10-27T00:00:00,2016-10-27T00:00:00
3,conveyor jam,2016-09-16T04:00:00,2016-09-16T08:30:00
4,conveyor jam,2016-08-15T06:00:00,2016-08-15T07:30:00

### 2.2.1 Machine per Time Between Failure

In [11]:
kpi = machine + issue_dateMWOstart + issue_dateMWOend
df = resultToObservationDataframe(database.runQuery(kpi.cypher_filterQuery())[1])
df.head()

3431it [00:00, 768772.75it/s]

,issue.date_maintenanceworkorder_start,issue.date_maintenanceworkorder_completion,machine.name
0,2017-01-24T00:00:00,2017-01-24T00:00:00,h27
1,2017-01-23T00:00:00,2017-01-23T00:00:00,h27
2,2017-01-13T06:00:00,2017-01-13T07:30:00,h27
3,2017-01-05T12:00:00,None,h27
4,2016-12-23T08:30:00,2017-12-23T00:00:00,h27

### 2.2.2 Machine by Problem Action per Time Between Failure

In [12]:
kpi = machine + problem + issue_dateMWOstart + issue_dateMWOend
df = resultToObservationDataframe(database.runQuery(kpi.cypher_filterQuery())[1])
df.head()

2851it [00:00, 628638.46it/s]

,issue.date_maintenanceworkorder_start,tagproblem.keyword,issue.date_maintenanceworkorder_completion,machine.name
0,2016-08-09T14:00:00,broken,2016-08-09T14:20:00,h3
1,2016-09-15T05:30:00,broken,2016-09-15T07:00:00,h3
2,2016-06-30T05:45:00,broken,None,h2
3,2015-05-02T00:00:00,broken,2015-05-02T00:00:00,h23
4,2015-12-22T00:00:00,broken,2015-12-22T00:00:00,h25

### 2.2.3 Machine Type per Time to Repair

In [13]:
kpi = machinetype + issue_dateMWOstart + issue_dateMWOend
df = resultToObservationDataframe(database.runQuery(kpi.cypher_filterQuery())[1])
df.head()

0it [00:00, ?it/s]

Empty DataFrame
Columns: [issue.date_maintenanceworkorder_start, machinetype.type, issue.date_maintenanceworkorder_completion]
Index: []

### 2.2.4 Machine type per Problem Item per Time to Repair

In [14]:
kpi = machinetype +  itemAsProblem + issue_dateMWOstart + issue_dateMWOend
df = resultToObservationDataframe(database.runQuery(kpi.cypher_filterQuery())[1])
df.head()

0it [00:00, ?it/s]

Empty DataFrame
Columns: [tagitemasproblem.keyword, machinetype.type, issue.date_maintenanceworkorder_start, issue.date_maintenanceworkorder_completion]
Index: []

### 2.3.1 Maintenance Technician Expertise per Problem Item

In [15]:
kpi = technician + itemAsProblem
df = resultToObservationDataframe(database.runQuery(kpi.cypher_filterQuery())[1])
df.head()

1314it [00:00, 379881.13it/s]

  tagitemasproblem.keyword  technician.name
0                  station  steve andreozzi
1                  station      john murray
2                  station  steve andreozzi
3                  station      john murray
4                  station      john murray

### 2.3.2 Maintenance Technician Expertise per Problem Action

In [16]:
kpi = technician + problem
df = resultToObservationDataframe(database.runQuery(kpi.cypher_filterQuery())[1])
df.head()

2018it [00:00, 652440.10it/s]

  tagproblem.keyword  technician.name
0             broken    jon cousineau
1             broken  steve andreozzi
2             broken     denis kusiak
3             broken    jon cousineau
4             broken    patrick ayers

### 2.3.3 Maintenance Technician Expertise per Problem Item & Action per Time to Repair
### 2.3.4 Maintenance Technician Expertise per Problem Item & Action per Time to Diagnose
### 2.3.5 Maintenance Technician Expertise per Solution Item & Action per Time to Fix

In [17]:
kpi = technician + problemitem + issue_dateMWOstart + issue_dateMWOend 
df = resultToObservationDataframe(database.runQuery(kpi.cypher_filterQuery())[1])
df.head()

1471it [00:00, 788777.96it/s]

,tagproblemitem.keyword,issue.date_maintenanceworkorder_completion,issue.date_maintenanceworkorder_start,technician.name
0,conveyor jam,None,2016-06-03T11:50:00,anthony paolillo
1,conveyor jam,2015-04-06T00:00:00,2015-04-06T00:00:00,colin doherty
2,conveyor jam,2016-02-09T00:00:00,2016-02-09T00:00:00,steve andreozzi
3,conveyor jam,2015-03-02T00:00:00,2015-03-02T00:00:00,colin doherty
4,conveyor jam,2015-04-29T00:00:00,2015-04-28T00:00:00,john murray

### 2.3.6 Maintenance Technician Expertise per Machine Type per Time to Repair

In [18]:
kpi = technician + machinetype + issue_dateMWOstart + issue_dateMWOend 
df = resultToObservationDataframe(database.runQuery(kpi.cypher_filterQuery())[1])
df.head()

0it [00:00, ?it/s]

Empty DataFrame
Columns: [issue.date_maintenanceworkorder_start, issue.date_maintenanceworkorder_completion, machinetype.type, technician.name]
Index: []