In [1]:
import sys
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
import os
import inspect
import pandas as pd

project_path = os.path.abspath( os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe()))) + "/../")
sys.path.insert(0, project_path)

from Program.Objects.Human import *
from Program.Objects.Issue import *
from Program.Objects.Machine import *
from Program.Objects.MaintenanceWorkOrder import *
from Program.Objects.Tag import *

from Program.Database.Database_Properties import *
from Program.Database.Database import *
from Program.Database.Main import *

from Program.KPI.KPI import *


from Program.Others.MyDate import *

# DATABASE

## FILES

### NIST server

### Greystone

In [2]:
PassWord = 'GREYSTONE!!'
#file = os.path.join(project_path , 'Data_CSV', 'GreyStone_Data.csv')
file = os.path.join(project_path , 'Data_CSV', 'GS_tokenized.csv')
localization = {NodeHuman.VALUE_TECHNICIAN.value: 15,
                NodeHuman.VALUE_OPERATOR.value: 13,

                NodeTag.VALUE_ITEM.value: 17,
                NodeTag.VALUE_PROBLEM.value: 19,
                NodeTag.VALUE_SOLUTION.value: 20,
                NodeTag.VALUE_NA.value: 18,
                NodeTag.VALUE_UNKNOWN.value: 21,
                NodeTag.VALUE_STOP_WORDS.value: 22,

                NodeMachine.VALUE_MACHINE.value: 7,
                NodeIssue.VALUE_MACHINE_DOWN.value: 8,

                NodeIssue.VALUE_DESCRIPTION_PROBLEM.value: 0,
                NodeIssue.VALUE_DESCRIPTION_SOLUTION.value: 1,
                NodeIssue.VALUE_PART_PROCESS.value: 16,
                
                NodeIssue.VALUE_DATE_MAINTENANCE_WORK_ORDER_ISSUE.value: 9,
                NodeIssue.VALUE_DATE_MAINTENANCE_WORK_ORDER_ISSUE.value + "2": 10,
                NodeIssue.VALUE_DATE_MAINTENANCE_WORK_ORDER_CLOSE.value: 11,
                NodeIssue.VALUE_DATE_MAINTENANCE_WORK_ORDER_CLOSE.value + "2": 12
                }

def date_cleanizer(date, time="0000"):
    """
    clean the date from GS data

    :param date: the date
    :param time: the time
    :return: a DateTime
    """

####    DATE ####
    if date is "":
        return None

    date = date.replace(" ","").split("/")

    date[2] = "20" + date[2]

    if len(date[0]) is 1:
        date[0] = "0" + date[0]
    else:
        date[0] = date[0]

    if len(date[1]) is 1:
        date[1] = "0" + date[1]
    else:
        date[1] = date[1]

#### TIME ####
    while len(time) < 4:
        time = "0" + time.replace(" ", "")

    return datetime(year=int(date[2]), month=int(date[0]), day=int(date[1]), hour=int(time[:2]), minute=int(time[2:]))

### Psu

In [ ]:
PassWord = 'PSU!!'
file = os.path.join(project_path , 'Data_CSV', 'Psu_Data.csv')
localization = {NodeHuman.VALUE_TECHNICIAN.value: 18,

                NodeMachine.VALUE_MACHINE.value: 3,
                NodeMachine.VALUE_TYPE.value:6,
                NodeMachine.VALUE_MANUFACTURER.value:5,
                NodeMachine.VALUE_LOCASION.value:4,


                NodeIssue.VALUE_DESCRIPTION_PROBLEM.value: 11,
                NodeIssue.VALUE_DESCRIPTION_SOLUTION.value: 19,
                NodeIssue.VALUE_DESCRIPTION_CAUSE.value:12,
                NodeIssue.VALUE_MACHINE_DOWN.value: 13,
                }

### Hvac

In [ ]:
PassWord = 'HVAC!!'
file = os.path.join(project_path , 'Data_CSV', 'Hvac_Data.csv')
localization = {NodeHuman.VALUE_TECHNICIAN.value: 10,
                NodeHuman.VALUE_OPERATOR.value: 43,

                NodeMachine.VALUE_MACHINE.value: 7,

                NodeIssue.VALUE_DESCRIPTION_PROBLEM.value: 5,
                NodeIssue.VALUE_DESCRIPTION_SOLUTION.value: 247,
                }
date_cleanizer = None

### Auto

In [ ]:
PassWord = 'AUTO!!'
file = os.path.join(project_path , 'Data_CSV', 'Auto_Data.csv')
localization = {NodeHuman.VALUE_TECHNICIAN.value: 4,
                NodeHuman.VALUE_OPERATOR.value: 11,
                NodeHuman.VALUE_CRAFTS.value: 16,
                NodeHuman.VALUE_SKILLS.value: 17,

                NodeMachine.VALUE_MACHINE.value: 8,

                NodeIssue.VALUE_DESCRIPTION_PROBLEM.value: 5,
                NodeIssue.VALUE_DESCRIPTION_SOLUTION.value: 7,
                }

### Mine

In [ ]:
PassWord = 'MINE!!'
file = os.path.join(project_path , 'Data_CSV', 'Mine_Data.csv')

localization = {}

## ACTION

### Connect

In [3]:
database = DatabaseNeo4J("bolt://127.0.0.1:7687", "neo4j", PassWord)

In [ ]:
database = DatabaseNeo4J("bolt://127.0.0.1:7687", "neo4j", "11/Jul/2017!")

## Indexs

In [ ]:
database.createIndexes()

In [ ]:
database.dropIndexes()

## Data

In [5]:
graph_database_from_csv(database, file, localization, date_cleanizer)

100%|█████████▉| 3438/3448 [00:57<00:00, 60.11it/s]

3438 Maintenance Word Order Created

In [ ]:
# token_dataframe = pd.DataFrame.from_csv("GS_tokenized_forSascha.csv", index_col =None)
# graph_database_from_tag_extractor(database = database, token_dataframe = token_dataframe)

In [4]:
database.deleteData()

1

# KPI

# KPI using Object

In [88]:
tec = Technician(name=["_"])
ope = Operator(name=["_"])

i3=Issue(problem=["_"], solution=["_"], machine_down="_",date_maintenance_work_order_issue=["_"], date_maintenance_work_order_close=["_"],part_in_process=["_"] )
i=Issue(date_maintenance_work_order_issue=["_"])
mac = Machine(name=["_","h11", "h1"])

tagI = TagItem(keyword = ["_"])
tagS = TagAction(keyword = ["_"] , it_is="s")
tagP = TagAction(keyword = ["_"] , it_is="p")

In [111]:
query = cypher_from_kpi(tec,mac,i,ope,tagI,tagS,tagP)

In [112]:
dataframe = pandas_from_cypher_kpi(database, query)

255it [00:00, 138524.48it/s]

the query has been executed with succes

In [113]:
dataframe.shape

(255, 7)

In [114]:
print(query)

MATCH (issue :ISSUE)-[:SOLVE_BY]->(technician :HUMAN:TECHNICIAN)
MATCH (issue :ISSUE)-[:COVERED]->(machine :MACHINE)
MATCH (issue :ISSUE)
MATCH (issue :ISSUE)-[:REQUESTED_BY]->(operator :HUMAN:OPERATOR)
MATCH (issue :ISSUE)-[:CONTAINS]->(tag_item :TAG :ITEM)
MATCH (issue :ISSUE)-[:SOLUTION]->(tag_action_solution :TAG :ACTION)
MATCH (issue :ISSUE)-[:PROBLEM]->(tag_action_problem :TAG :ACTION)

WHERE machine.name = "h11" OR machine.name = "h1"
RETURN technician.name, machine.name, issue.date_maintenance_work_order_issue, operator.name, tag_item.keyword, tag_action_solution.keyword, tag_action_problem.keyword

In [115]:
columns = dataframe.keys().tolist()
dataframe["index"] = 1

In [116]:
dataframe.head()

,technician.name,machine.name,issue.date_maintenance_work_order_issue,operator.name,tag_item.keyword,tag_action_solution.keyword,tag_action_problem.keyword,index
0,steve andreozzi,h11,2015-03-16 00:00:00,russ,brush,replace,stuck,1
1,steve andreozzi,h11,2015-03-16 00:00:00,russ,cable,replace,stuck,1
2,steve andreozzi,h11,2015-03-16 00:00:00,russ,prox,replace,stuck,1
3,steve andreozzi,h11,2015-03-16 00:00:00,russ,unit,replace,stuck,1
4,steve andreozzi,h11,2015-03-16 00:00:00,russ,sensor,replace,stuck,1

In [117]:
df = pd.pivot_table(dataframe, index="issue.date_maintenance_work_order_issue", columns=columns, fill_value=0 )

In [121]:
df

                                                      index                   \
technician.name                            anthony paolillo
machine.name                                            h11
issue.date_maintenance_work_order_issue 2015-11-23 00:00:00
operator.name                                          russ
tag_item.keyword                                      brush cylinder     oil
tag_action_solution.keyword                         rebuild  rebuild rebuild
tag_action_problem.keyword                             leak     leak    leak
issue.date_maintenance_work_order_issue
2015-03-16 00:00:00                                       0        0       0
2015-03-20 00:00:00                                       0        0       0
2015-04-01 00:00:00                                       0        0       0
2015-04-09 00:00:00                                       0        0       0
2015-04-28 00:00:00                                       0        0       0
2015-05-07 00:00:00                                       0        0       0
2015-05-11 00:00:00                                       0        0       0
2015-05-12 00:00:00                                       0        0       0
2015-05-14 00:00:00                                       0        0       0
2015-05-18 00:00:00                                       0        0       0
2015-06-28 00:00:00                                       0        0       0
2015-07-03 00:00:00                                       0        0       0
2015-07-14 00:00:00                                       0        0       0
2015-08-05 00:00:00                                       0        0       0
2015-08-17 00:00:00                                       0        0       0
2015-09-01 00:00:00                                       0        0       0
2015-09-09 00:00:00                                       0        0       0
2015-09-12 00:00:00                                       0        0       0
2015-09-14 00:00:00                                       0        0       0
2015-09-23 00:00:00                                       0        0       0
2015-10-26 00:00:00                                       0        0       0
2015-11-03 00:00:00                                       0        0       0
2015-11-10 00:00:00                                       0        0       0
2015-11-12 00:00:00                                       0        0       0
2015-11-23 00:00:00                                       1        1       1
2015-12-02 00:00:00                                       0        0       0
2015-12-14 00:00:00                                       0        0       0
2016-01-18 00:00:00                                       0        0       0
2016-01-25 00:00:00                                       0        0       0
2016-01-29 00:00:00                                       0        0       0
2016-02-02 00:00:00                                       0        0       0
2016-02-07 00:00:00                                       0        0       0
2016-02-09 00:00:00                                       0        0       0
2016-02-26 00:00:00                                       0        0       0
2016-03-17 00:00:00                                       0        0       0
2016-04-18 00:00:00                                       0        0       0
2016-05-18 00:00:00                                       0        0       0
2016-05-19 00:00:00                                       0        0       0
2016-06-06 10:20:00                                       0        0       0

                                                                             \
technician.name                                                 john murray
machine.name                                                            h11
issue.date_maintenance_work_order_issue                 2015-03-16 00:00:00
operator.name                                                          russ
tag_item.keyword                           rear    unit               brush
tag_action_solution.keyword             rebuild rebuild              adjust
tag_action_problem.keyword                 leak    leak               stuck
issue.date_maintenance_work_order_issue
2015-03-16 00:00:00                           0       0                   1
2015-03-20 00:00:00                           0       0                   0
2015-04-01 00:00:00                           0       0                   0
2015-04-09 00:00:00                           0       0                   0
2015-04-28 00:00:00                           0       0                   0
2015-05-07 00:00:00                           0       0                   0
2015-05-11 00:00:00                           0       0                   0
2015-05-12 00:00:00                           0       0                   0
2015-05-14 00:00:00                           0       0                   0
2015-05-18 00:00:00                           0       0                   0
2015-06-28 00:00:00                           0       0                   0
2015-07-03 00:00:00                           0       0                   0
2015-07-14 00:00:00                           0       0                   0
2015-08-05 00:00:00                           0       0                   0
2015-08-17 00:00:00                           0       0                   0
2015-09-01 00:00:00                           0       0                   0
2015-09-09 00:00:00                           0       0                   0
2015-09-12 00:00:00                           0       0                   0
2015-09-14 00:00:00                           0       0                   0
2015-09-23 00:00:00                           0       0                   0
2015-10-26 00:00:00                           0       0                   0
2015-11-03 00:00:00                           0       0                   0
2015-11-10 00:00:00                           0       0                   0
2015-11-12 00:00:00                           0       0                   0
2015-11-23 00:00:00                           1       1                   0
2015-12-02 00:00:00                           0       0                   0
2015-12-14 00:00:00                           0       0                   0
2016-01-18 00:00:00                           0       0                   0
2016-01-25 00:00:00                           0       0                   0
2016-01-29 00:00:00                           0       0                   0
2016-02-02 00:00:00                           0       0                   0
2016-02-07 00:00:00                           0       0                   0
2016-02-09 00:00:00                           0       0                   0
2016-02-26 00:00:00                           0       0                   0
2016-03-17 00:00:00                           0       0                   0
2016-04-18 00:00:00                           0       0                   0
2016-05-18 00:00:00                           0       0                   0
2016-05-19 00:00:00                           0       0                   0
2016-06-06 10:20:00                           0       0                   0

                                                                       ...   \
technician.name                                                        ...
machine.name                                                           ...
issue.date_maintenance_work_order_issue                                ...
operator.name                                                          ...
tag_item.keyword                                 cable           prox  ...
tag_action_solution.keyword             replace adjust replace adjust  ...
tag_action_problem.keyword                stuck  stuck   stuck  stuck  ...
issue.date_maintenance_work_order_issue                                ...
2015-03-16 00:00:00                           1      1       1      1  ...
2015-03-20 00:00:00                           0      0       0      0  ...
2015-04-01 00:00:00                           0      0       0      0  ...
2015-04-09 00:00:00                           0      0       0      0  ...
2015-04-28 00:00:00                           0      0       0      0  ...
2015-05-07 00:00:00                           0      0       0      0  ...
2015-05-11 00:00:00                           0      0       0      0  ...
2015-05-12 00:00:00                           0      0       0      0  ...
2015-05-14 00:00:00                           0      0       0      0  ...
2015-05-18 00:00:00                           0      0       0      0  ...
2015-06-28 00:00:00                           0      0       0      0  ...
2015-07-03 00:00:00                           0      0       0      0  ...
2015-07-14 00:00:00                           0      0       0      0  ...
2015-08-05 00:00:00                           0      0       0      0  ...
2015-08-17 00:00:00                           0      0       0      0  ...
2015-09-01 00:00:00                           0      0       0      0  ...
2015-09-09 00:00:00                           0      0       0      0  ...
2015-09-12 00:00:00                           0      0       0      0  ...
2015-09-14 00:00:00                           0      0       0      0  ...
2015-09-23 00:00:00                           0      0       0      0  ...
2015-10-26 00:00:00                           0      0       0      0  ...
2015-11-03 00:00:00                           0      0       0      0  ...
2015-11-10 00:00:00                           0      0       0      0  ...
2015-11-12 00:00:00                           0      0       0      0  ...
2015-11-23 00:00:00                           0      0       0      0  ...
2015-12-02 00:00:00                           0      0       0      0  ...
2015-12-14 00:00:00                           0      0       0      0  ...
2016-01-18 00:00:00                           0      0       0      0  ...
2016-01-25 00:00:00                           0      0       0      0  ...
2016-01-29 00:00:00                           0      0       0      0  ...
2016-02-02 00:00:00                           0      0       0      0  ...
2016-02-07 00:00:00                           0      0       0      0  ...
2016-02-09 00:00:00                           0      0       0      0  ...
2016-02-26 00:00:00                           0      0       0      0  ...
2016-03-17 00:00:00                           0      0       0      0  ...
2016-04-18 00:00:00                           0      0       0      0  ...
2016-05-18 00:00:00                           0      0       0      0  ...
2016-05-19 00:00:00                           0      0       0      0  ...
2016-06-06 10:20:00                           0      0       0      0  ...

                                                                           \
technician.name                             steve andreozzi
machine.name                                            h11
issue.date_maintenance_work_order_issue 2016-04-18 00:00:00
operator.name                                           bob
tag_item.keyword                                   conveyor         screw
tag_action_solution.keyword                             set       replace
tag_action_problem.keyword                          missing noise missing
issue.date_maintenance_work_order_issue
2015-03-16 00:00:00                                       0     0       0
2015-03-20 00:00:00                                       0     0       0
2015-04-01 00:00:00                                       0     0       0
2015-04-09 00:00:00                                       0     0       0
2015-04-28 00:00:00                                       0     0       0
2015-05-07 00:00:00                                       0     0       0
2015-05-11 00:00:00                                       0     0       0
2015-05-12 00:00:00                                       0     0       0
2015-05-14 00:00:00                                       0     0       0
2015-05-18 00:00:00                                       0     0       0
2015-06-28 00:00:00                                       0     0       0
2015-07-03 00:00:00                                       0     0       0
2015-07-14 00:00:00                                       0     0       0
2015-08-05 00:00:00                                       0     0       0
2015-08-17 00:00:00                                       0     0       0
2015-09-01 00:00:00                                       0     0       0
2015-09-09 00:00:00                                       0     0       0
2015-09-12 00:00:00                                       0     0       0
2015-09-14 00:00:00                                       0     0       0
2015-09-23 00:00:00                                       0     0       0
2015-10-26 00:00:00                                       0     0       0
2015-11-03 00:00:00                                       0     0       0
2015-11-10 00:00:00                                       0     0       0
2015-11-12 00:00:00                                       0     0       0
2015-11-23 00:00:00                                       0     0       0
2015-12-02 00:00:00                                       0     0       0
2015-12-14 00:00:00                                       0     0       0
2016-01-18 00:00:00                                       0     0       0
2016-01-25 00:00:00                                       0     0       0
2016-01-29 00:00:00                                       0     0       0
2016-02-02 00:00:00                                       0     0       0
2016-02-07 00:00:00                                       0     0       0
2016-02-09 00:00:00                                       0     0       0
2016-02-26 00:00:00                                       0     0       0
2016-03-17 00:00:00                                       0     0       0
2016-04-18 00:00:00                                       1     1       1
2016-05-18 00:00:00                                       0     0       0
2016-05-19 00:00:00                                       0     0       0
2016-06-06 10:20:00                                       0     0       0

                                                                           \
technician.name
machine.name
issue.date_maintenance_work_order_issue
operator.name
tag_item.keyword                                              shaft
tag_action_solution.keyword                       set       replace
tag_action_problem.keyword              noise missing noise missing noise
issue.date_maintenance_work_order_issue
2015-03-16 00:00:00                         0       0     0       0     0
2015-03-20 00:00:00                         0       0     0       0     0
2015-04-01 00:00:00                         0       0     0       0     0
2015-04-09 00:00:00                         0       0     0       0     0
2015-04-28 00:00:00                         0       0     0       0     0
2015-05-07 00:00:00                         0       0     0       0     0
2015-05-11 00:00:00                         0       0     0       0     0
2015-05-12 00:00:00                         0       0     0       0     0
2015-05-14 00:00:00                         0       0     0       0     0
2015-05-18 00:00:00                         0       0     0       0     0
2015-06-28 00:00:00                         0       0     0       0     0
2015-07-03 00:00:00                         0       0     0       0     0
2015-07-14 00:00:00                         0       0     0       0     0
2015-08-05 00:00:00                         0       0     0       0     0
2015-08-17 00:00:00                         0       0     0       0     0
2015-09-01 00:00:00                         0       0     0       0     0
2015-09-09 00:00:00                         0       0     0       0     0
2015-09-12 00:00:00                         0       0     0       0     0
2015-09-14 00:00:00                         0       0     0       0     0
2015-09-23 00:00:00                         0       0     0       0     0
2015-10-26 00:00:00                         0       0     0       0     0
2015-11-03 00:00:00                         0       0     0       0     0
2015-11-10 00:00:00                         0       0     0       0     0
2015-11-12 00:00:00                         0       0     0       0     0
2015-11-23 00:00:00                         0       0     0       0     0
2015-12-02 00:00:00                         0       0     0       0     0
2015-12-14 00:00:00                         0       0     0       0     0
2016-01-18 00:00:00                         0       0     0       0     0
2016-01-25 00:00:00                         0       0     0       0     0
2016-01-29 00:00:00                         0       0     0       0     0
2016-02-02 00:00:00                         0       0     0       0     0
2016-02-07 00:00:00                         0       0     0       0     0
2016-02-09 00:00:00                         0       0     0       0     0
2016-02-26 00:00:00                         0       0     0       0     0
2016-03-17 00:00:00                         0       0     0       0     0
2016-04-18 00:00:00                         1       1     1       1     1
2016-05-18 00:00:00                         0       0     0       0     0
2016-05-19 00:00:00                         0       0     0       0     0
2016-06-06 10:20:00                         0       0     0       0     0


technician.name
machine.name
issue.date_maintenance_work_order_issue
operator.name
tag_item.keyword
tag_action_solution.keyword                 set
tag_action_problem.keyword              missing noise
issue.date_maintenance_work_order_issue
2015-03-16 00:00:00                           0     0
2015-03-20 00:00:00                           0     0
2015-04-01 00:00:00                           0     0
2015-04-09 00:00:00                           0     0
2015-04-28 00:00:00                           0     0
2015-05-07 00:00:00                           0     0
2015-05-11 00:00:00                           0     0
2015-05-12 00:00:00                           0     0
2015-05-14 00:00:00                           0     0
2015-05-18 00:00:00                           0     0
2015-06-28 00:00:00                           0     0
2015-07-03 00:00:00                           0     0
2015-07-14 00:00:00                           0     0
2015-08-05 00:00:00                           0     0
2015-08-17 00:00:00                           0     0
2015-09-01 00:00:00                           0     0
2015-09-09 00:00:00                           0     0
2015-09-12 00:00:00                           0     0
2015-09-14 00:00:00                           0     0
2015-09-23 00:00:00                           0     0
2015-10-26 00:00:00                           0     0
2015-11-03 00:00:00                           0     0
2015-11-10 00:00:00                           0     0
2015-11-12 00:00:00                           0     0
2015-11-23 00:00:00                           0     0
2015-12-02 00:00:00                           0     0
2015-12-14 00:00:00                           0     0
2016-01-18 00:00:00                           0     0
2016-01-25 00:00:00                           0     0
2016-01-29 00:00:00                           0     0
2016-02-02 00:00:00                           0     0
2016-02-07 00:00:00                           0     0
2016-02-09 00:00:00                           0     0
2016-02-26 00:00:00                           0     0
2016-03-17 00:00:00                           0     0
2016-04-18 00:00:00                           1     1
2016-05-18 00:00:00                           0     0
2016-05-19 00:00:00                           0     0
2016-06-06 10:20:00                           0     0

[39 rows x 255 columns]

# For UI

In [13]:
query = "MATCH (node) RETURN DISTINCT labels(node)"
results_label, done = database.runQuery(query)
label_property_dict = dict()

list1 = []
listN = []
for result_label in results_label.records():
    for labels in result_label.values():
        for label in labels:
            if label in listN:
                pass
            elif label in list1:
                list1.remove(label)
                listN.append(label)
            else:
                list1.append(label)

for label in list1:
    print("ttttt")
    query = f'MATCH (node:{label})<-[relation]-() RETURN distinct type(relation)'
    results_relation, done = database.runQuery(query)
    print(results_relation)

for label in listN:
    query = f'MATCH (node:{label}) RETURN keys(node)'
    results_relation, done = database.runQuery(query)
    label_property_dict.update({label: {p for proper in results_relation.records() for prop in
                                        proper.values() for p in prop }})

ttttt
<neo4j.v1.result.BoltStatementResult object at 0x1a17e758d0>
ttttt
<neo4j.v1.result.BoltStatementResult object at 0x1a17e75a90>
ttttt
<neo4j.v1.result.BoltStatementResult object at 0x1a17e75b38>
ttttt
<neo4j.v1.result.BoltStatementResult object at 0x1a17e75908>

In [ ]:
label_property_dict

In [ ]:
list1

In [ ]:
listN

In [ ]:
dict={"problem" : "(node:ACTION:TAG)<-[:PROBLEM]-(i:ISSUE)",
    "solution" : "(node:ACTION:TAG)<-[:SOLUTION]-(i:ISSUE)",
    "tag" : "(node:TAG)",
    "human" : "(node:HUMAN)",
    "technican" : "(node:TECHNICIAN:HUMAN)<-[:SOLVE_BY]-(i:ISSUE)",
    "operator" : "(node:OPERATOR:HUMAN)<-[:REQUESTED_BY]-(i:ISSUE)",
    "machine" : "(node:MACHINE)",
    "machine_type" : "(node:MACHINE_TYPE)",
     "issue" : "(node:ISSUE)"}

In [ ]:
for key, value in dict.items():
    #print("___")
    query = "MATCH " + value + "RETURN distinct keys(node)"
   # print(query)
    results, done = database.runQuery(query)
    for record in results.records():
        #print("----")
        print(record.values())

### test other ---------

In [215]:
query = "MATCH (node)<-[relationship]-() RETURN DISTINCT labels(node) as node, type(relationship) as rel"
results, done = database.runQuery(query)

index = 0

df = pd.DataFrame(columns=['nodes','label', 'properties'])
for result in results.records():
    node_labels = result["node"]
    edge_labels = result["rel"]
    
    query = f'MATCH (node:{":".join(node_labels)})<-[:{edge_labels}]-() RETURN DISTINCT keys(node) as prop'
    res, done = database.runQuery(query)
    for p in res.records():
        property = p["prop"]
        
    serie = [node_labels,edge_labels,property]
    
    df.loc[index]=serie
    index +=1

query = "MATCH (node:ISSUE)-->() RETURN DISTINCT labels(node) as node, keys(node) as prop"
results, done = database.runQuery(query)    

property = set()
for result in results.records():
    node_labels = result["node"]
    for r in result["prop"]:
        property.add(r)
        
df.loc[index] = [node_labels, None, list(property)]

In [216]:
df

,nodes,label,properties
0,"[ITEM, TAG]",CONTAINS,[keyword]
1,"[ACTION, TAG]",PROBLEM,[keyword]
2,"[HUMAN, TECHNICIAN]",SOLVE_BY,[name]
3,"[ACTION, TAG]",SOLUTION,[keyword]
4,"[HUMAN, OPERATOR]",REQUESTED_BY,[name]
5,[MACHINE],COVERED,[name]
6,"[HUMAN, OPERATOR, TECHNICIAN]",SOLVE_BY,[name]
7,"[HUMAN, OPERATOR, TECHNICIAN]",REQUESTED_BY,[name]
8,[ISSUE],None,"[part_in_process, date_maintenance_work_order_..."

In [183]:
properti

{'node'}

In [221]:
dict = {'Tag': '(node:TAG)',
       'Problem': '(node:TAG:ACTION)-[rel:PROBLEM]-()',
       'Solution': '(node:TAG:ACTION)-[rel:SOLUTION]-()',
       'Item': '(node:TAG:ITEM)',
       'Human': '(node:HUMAN)',
       'Operator': '(node:HUMAN:OPERATOR)',
       'Technician': '(node:HUMAN:TECHNICIAN)',
       'Machine': '(node:MACHINE)',
       'Machine Type': '(node:MACHINE_TYPE)',
       'Issue': '(node:ISSUE)'
       }

df = pd.DataFrame(columns=['labels', 'properties'])
for key, value in dict.items():
    
    query = f'MATCH  RETURN DISTINCT labels(node) as node, keys(node) as prop'
    results, done = database.runQuery(query)
    
    print(key,value)

CypherSyntaxError: Invalid input 'I': expected 'e/E' (line 1, column 16 (offset: 15))
"MATCH  RETURN DISTINCT labels(node) as node, keys(node) as prop"
                ^